node_modules
vendor
.git
.env
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
phpunit.xml
.phpunit.result.cache
docker-compose.yml
Dockerfile
docker/
